.App {
  text-align: center;
}
.nav-header{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
.nav-header ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.nav-header ul li a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.footer-app {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0;
  background-color: #282c34;
  text-align: center;
}

.update-product > div > div {
  margin-bottom: 8%;
}
.add-product > div ,
  .update-product > div{
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
}
.add-product > div {
  margin-bottom: 1%;
}
.add-product > div span {
  text-align: left;
  color: red;
  font-size: 12px;
}
.add-product > div + span {
  position: absolute;
}
.ant-modal-confirm.ant-modal-confirm-confirm.ant-zoom-appear
{
  margin: auto;
  padding: 22px 0px 27px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 3px 2px 10px grey;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.ant-modal-confirm-body {
  line-height: 24px;
  word-spacing: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ant-fade-appear-active {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000ad ; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}
.ant-modal-confirm-btns {
  margin-top: 30px;
}
.ant-modal-confirm-btns .ant-btn-default {
  border: none;
  background-color: #efe5e5;
  font-size: 15.5px;
  border-radius: 5px;
  padding: 4px 17px;
  cursor: pointer;
  margin-right: 10px;
}
.ant-modal-confirm-btns .ant-btn-primary {
  border: none;
  background-color: #ff9a12;
  color: #ffff;
  font-size: 15.5px;
  border-radius: 5px;
  padding: 4px 17px;
  cursor: pointer;
  margin-left: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
